
.content {
  overflow: none;
  width: 100%;
  padding: 0px 0;
  height: 500px;
  position: relative;
  margin: 20px auto;
  background: #ffffff; }

/*  Events display */
.events-container {
  overflow-y: scroll;
  height: 100%;
  width: 60%;
  float: right;
  margin: 0px auto;
  display: inline-block;
  padding: 0px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0; }
  @media (max-width: 767.98px) {
    .events-container {
      width: 100%;
      height: auto; } }
  @media (max-width: 991.98px) {
    .events-container {
      padding: 0;
      width: 100%} }

.events-container:after {
  clear: both; }

.event-card {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 20px 10px;
  max-width: 100%;
  background: #f7ebe9;
  border: none !important;
  margin: 20px;
  margin-left: 12px; }
  @media (max-width: 991.98px) {
    .event-card {
      padding: 20px 0px; } }
  @media (max-width: 767.98px) {
    .event-card {
      margin: 0;} }

.event-count, .event-name, .event-cancelled {
  display: inline;
  padding: 0 10px;
  font-size: 1rem; }

.event-count {
  color: #e5bcb4;
  text-align: right; }

.event-name {
  color: #000000;
  padding-right: 0;
  text-align: left; }

.event-name:hover {
  color: #a82106;
}

.event-cancelled {
  color: #ed2c05;
  text-align: right; }

.event-button {
}

/*  Calendar wrapper */
.calendar-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 40%;
  background: #fff;
  font: 13px Helvetica, Arial, san-serif;
  display: inline-block;
  padding: 20px;
  float: left; }
  @media (max-width: 991.98px) {
    .calendar-container {
      padding: 0;
      width: 50%} }
  @media (max-width: 767.98px) {
    .calendar-container {
      padding: 0;
      width: 100%; } }

.calendar-container:after {
  clear: both; }

.calendar {
  width: 100%;
  padding: 0; }

/* Calendar Header */
.year-header {
  background: #fff;
  height: 40px;
  text-align: center;
  position: relative;
  color: #fff;
  border-top-left-radius: 3px;
  margin-top: 20px; }

.year-header span {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  color: #000; }

.left-button, .right-button {
  cursor: pointer;
  width: 28px;
  text-align: center;
  position: absolute;
  color: #cccccc !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px !important; }
  @media (prefers-reduced-motion: reduce) {
    .left-button, .right-button {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .left-button:hover, .right-button:hover {
    color: #e5bcb4 !important; }

.left-button {
  left: 0; }

.right-button {
  right: 0;
  top: 0; }

/* Buttons */
.button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.65rem 1.9rem;
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all;
  color: white;
  border: none;
  background: #e5bcb4; }
  .button.button-white {
    background: #fff;
    color: #000; }
  .button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }
  @media (max-width: 767.98px) {
    .button {
        padding: 0.65rem 0.9rem;
    } }

#cancel-button {
  background: #ffffff; }

#add-button {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px; }

#add-button:hover, #book-button:hover, #cancel-button:hover, [id*="book-button-"]:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03); }

#add-button:active, #book-button:active, #cancel-button:active, [id*="book-button-"]:active {
  -webkit-transform: translateY(3px) scale(0.97);
  -ms-transform: translateY(3px) scale(0.97);
  transform: translateY(3px) scale(0.97); }

/* Days/months tables */
.days-table, .dates-table, .months-table {
  border-collapse: separate;
  text-align: center; }

.day {
  height: 26px;
  width: 26px;
  padding: 0 10px;
  line-height: 26px;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-size: 10px;
  color: #000; }
  @media (max-width: 350px) {
    .day {
      font-size: 8px; } }

.month {
  cursor: default;
  height: 26px;
  width: 26px;
  padding: 0 2px;
  padding-top: 10px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 11px;
  color: #cccccc;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms; }
  @media (max-width: 991.98px) {
    .month {
      font-size: 8px; } }
  @media (max-width: 767.98px) {
    .month {
      font-size: 10.5px; } }
  @media (max-width: 350px) {
    .month {
      font-size: 9px; } }

.active-month {
  font-weight: 700;
  color: #000; }

.month:hover {
  color: #ed2c05; }

/*  Dates table */
.table-date {
  cursor: default;
  color: #2b2b2b;
  height: 26px;
  width: 26px;
  font-size: 15px;
  padding: 10px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  position: relative; }
  @media (max-width: 550px) {
    .table-date {
      padding: 3vw;
      } }

.table-date:not(.nil):hover {
  border-color: #ed2c05; }

.event-date {
  border-color: #e5bcb4;
  background: #e5bcb4;
  color: #fff; }

.event-booked:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background: #28a745; }

.active-date {
  background: #ed2c05;
  color: #fff; }

.event-date.active-date {
  background: #ed2c05; }

/* input dialog */
.dialog {
  z-index: 5;
  background: #f7ebe9;
  position: absolute;
  width: 60%;
  height: 500px;
  top: 0;
  right: 0;
  display: none; }
  @media (max-width: 991.98px) {
    .dialog {
      padding: 0;
      width: 50%} }
  @media (max-width: 767.98px) {
    .dialog {
      width: 100%; } }

.course-header {
  margin: 20px;
  color: #333333;
  text-align: center;
  font-size: 28px; }
  @media (max-width: 767.98px) {
    .course-header {
      margin-left: 0px;
      margin-right: 0px;
      } }

.course-container {
  margin-top: 0%; }

.course-description {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(33, 33, 33, 0.9); }

.input {
  border: none;
  background: none;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  display: block;
  margin-bottom: 50px;
  width: 300px;
  height: 20px;
  text-align: center;
  -webkit-transition: border-color 250ms;
  -o-transition: border-color 250ms;
  transition: border-color 250ms;
  color: #fff; }

.input:focus {
  outline: none;
  border-color: #fff; }

.error-input {
  border-color: #ed2c05; }

.lesson-details {
    position: relative;
    float: left;
    min-width: 270px;
    width: 60%;
    height: 50px;
}
.users-booked {
    position: relative;
    float: left;
    min-width:100px;
    width: 40%;
    height: 50px;
}
.progress-back {
  width: 100%;
  background-color: #e5bcb4;
  opacity: 0.5;
}

.progress-front {
  width: 10%;
  height: 10px;
  background-color: #a82106;
}

.progress-icon {
  color: #a82106
}
@media (max-width: 991.98px) {
  .events-card {
      justify-content: space-between;
    }
  .lesson-details {
      order:1;
      width: 90%
    }
  .users-booked {
      order:2;
      width: 90%;
    }
  }