.scroll {
    margin:40px, 40px;
    padding:40px;
    overflow-y: auto;
    max-height: 600px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.0), #F7ebe9 20%, #F7ebe9 80%, rgba(255, 255, 255, 0.0));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
html{
  scroll-behavior: smooth;
}
::selection{
  color: #fff;
  background: #3ea0e2;
}
.wrapper{
  max-width: 1080px;
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 40px;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
    margin: 30px 0 3px 60px;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  left: -7px;
}
.row-2 section::before{
  left: -7px;
}

.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #a82106;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  left: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  color: #a82106;
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row .bottom a{
  text-decoration: none;
  background: #e5bcb4;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row .bottom a:hover{
  transform: scale(1.03);
  color: #a82106;
}
.booked,
.reserved {
  background: #b3b3b3 !important;
}
.completed {
  background: #b3b3b3 !important;
  pointer-events: none;
}
@media(max-width: 992px){
  .scroll{
    overflow-y: visible;
    max-height: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 375px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}