<!DOCTYPE html>
<html lang="en">
<head {% meta_namespaces %} >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" type="image/png" href="favicon.ico"/>
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/museo" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/cookiealert.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="{% url 'index' %}">
				<img src="images/logo.svg" alt="logo" height="50px" width="50px">
				Yoga Space
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item {% if request.resolver_match.view_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
					<li class="nav-item {% if request.resolver_match.view_name == 'schedule' %}active{% endif %}"><a href="{% url 'schedule' %}" class="nav-link">Schedule</a></li>
					<li class="nav-item {% if request.resolver_match.view_name == 'classes' %}active{% endif %}"><a href="{% url 'classes' %}" class="nav-link">Classes</a></li>
					<li class="nav-item {% if request.resolver_match.view_name == 'pricing' %}active{% endif %}"><a href="{% url 'pricing' %}" class="nav-link">Prices</a></li>
					<li class="nav-item {% if request.resolver_match.view_name == 'about' %}active{% endif %}"><a href="{% url 'about' %}" class="nav-link">About</a></li>
					<li class="nav-item {% if request.resolver_match.view_name == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
					<li class="nav-item "><a href="{% url 'account_login' %}" class="nav-link">Log in</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
	<div class="position-fixed fixed-bottom">
		<div class="alert text-center cookiealert" role="alert">
			&#x1F36A; On our website we serve cookies, in our classes we serve masala chai. View our <a href="{% url 'policy' %}" style="color: #a82106;">Privacy Policy</a> on how we use them.

			<button type="button" class="btn btn-secondary btn-sm acceptessentialcookies">
				Essential Only
			</button>
			<button type="button" class="btn btn-primary btn-sm acceptallcookies">
				All Cookies
			</button>
		</div>
	</div>
	<section class="hero-wrap js-fullheight intro-home-section" style="background-image: url('images/camila01.webp');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start">
				<div class="col-md-8">
					<div class="col-md-12 ftco-animate">
						<h1 class="typewrite mb-5" data-period="4000" data-type='["Yoga for all", "Practice with purpose", "Breath, Move, Transform"]'>
							<span class="wrap"></span>
						</h1>
						<h4 class="mb-5">Discover your inner peace and strength at our Yoga Space</h4>
					</div>
					<p><a href="{% url 'schedule' %}" style="font-size: 20px; border-radius: 10%; opacity: 0.7;" class="btn btn-primary p-3 px-4">Find your class</a></p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-12 heading-section ftco-animate text-center">
					<h3 class="subheading">Yoga Classes</h3>
					<h2 class="mb-1">Something for everyone</h2>
				</div>
			</div>

			<div class="row justify-content-center pb-3 ml-3 mr-3">
				<h6>If you want to replenish your body and socialize with fellow yogis,
					fell free to join us at the end of our classes for drinks and cookies!
				See you on the mat!</h6>
			</div>
			<div class="row no-gutters">
				<div class="col-md-6 col-lg-3">
					<div class="package-program ftco-animate">
						<a href="{% url 'classes' %}#ashtanga" class="img d-flex justify-content-center align-items-center" style="background-image: url('images/class_ashtanga.webp');">
							<div class="text p-5 text-center">
								<h3>Ashtanga Yoga</h3>
								<p>Want to build strength and flexibility?</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="package-program ftco-animate">
						<a href="{% url 'classes' %}#slow" class="img d-flex justify-content-center align-items-center" style="background-image: url('images/class_slow.webp');">
							<div class="text p-5 text-center">
								<h3>Slow Yoga</h3>
								<p>Want to enjoy a deep rest?</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="package-program ftco-animate">
						<a href="{% url 'classes' %}#private" class="img d-flex justify-content-center align-items-center" style="background-image: url('images/class_private.webp');">
							<div class="text p-5 text-center">
								<h3>Private Classes</h3>
								<p>Your goal, our expertise</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="package-program ftco-animate">
						<a href="{% url 'classes' %}#business" class="img d-flex justify-content-center align-items-center" style="background-image: url('images/program-4.webp');">
							<div class="text p-5 text-center">
								<h3>Yoga for Business</h3>
								<p>Connect your team</p>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h1 class="heading-section">Pricing</h1>
					<h5>Payments accepted in cash or QR code</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 ftco-animate">
					<div class="block-7">
						<div class="text-center">
							<h2 class="heading">Try-out Class</h2>
							<span class="price"><sup>€</sup> <span class="number">5</span></span>
							<span class="excerpt d-block">Only once</span>

							<h3 class="heading-2 my-4">Introduction</h3>

							<ul class="pricing-text mb-5">
								<li>Ashtanga Yoga</li>
								<li>or</li>
								<li>Soft Yoga</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="block-7">
						<div class="text-center">
							<h2 class="heading">Single Class</h2>
							<span class="price"><sup>€</sup> <span class="number">12</span></span>
							<span class="excerpt d-block">For 1 Class</span>
							<h3 class="heading-2 my-4">Regular Price</h3>
							<ul class="pricing-text mb-5">
								<li>Ashtanga Yoga</li>
								<li>or</li>
								<li>Soft Yoga</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="block-7">
						<div class="text-center">
							<h2 class="heading">Day Card</h2>
							<span class="price"><sup>€</sup> <span class="number">20</span></span>
							<span class="excerpt d-block">For 1 Day</span>

							<h3 class="heading-2 my-4">Become zen</h3>

							<ul class="pricing-text mb-5">
								<li>Ashtanga Yoga</li>
								<li>and</li>
								<li>Soft Yoga</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="block-7">
						<div class="text-center">
							<h2 class="heading">Events</h2>
							<span class="price"><sup></sup> <a href="contact.html" class="btn text mt-2 mb-2">Contact</a></span>
							<span class="excerpt d-block">On demand</span>

							<h3 class="heading-2 my-4">Enjoy All Features</h3>

							<ul class="pricing-text mb-5">
								<li>Group Classes</li>
								<li>Yoga Workshop</li>
								<li>Private Classes</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}

	<footer class="ftco-footer ftco-section img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-3 col-md-6 mb-5 mb-md-5 ftco-animate">
					<div class="ftco-footer-widget mb-4">
						<h1 class="logo">Yoga Space</h1>
					</div>
				</div>
				<div class="col-lg col-md-6 mb-5 mb-md-5 ftco-animate">
					<div class="ftco-footer-widget mb-4">
						<h2 class="location">Craenevenne 47, 3600 Genk</h2>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4">
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft">
							<li class="ftco-animate">
								<a href="https://www.facebook.com/profile.php?id=100089689290374" target="_blank" class="social-item flex-c-m bg1 m-r-5">
									<i class="fa fa-facebook-f" aria-hidden="true"></i>
								</a>
							</li>

							<li class="ftco-animate">
								<a href="https://www.instagram.com/yogaspace.be/" target="_blank" class="social-item flex-c-m bg3 m-r-5">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/cookiealert.js"></script>

</body>
</html>